<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4 col-12 mt-5">
            <form id="forgotForm" method="post">
                <h1 class="h3 mb-3 fw-normal">Forgotten Password</h1>
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                <div class="form-floating">
                    <input type="email" id="email" class="form-control" id="floatingInput" placeholder="name@example.com" required>
                    <label for="floatingInput">Email address</label>
                </div>

                <button class="w-100 btn btn-lg btn-primary my-5" id="btn1" type="submit">Send code</button>

            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="verificationModal" tabindex="-1" aria-labelledby="verificationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="verificationModalLabel">Enter Verification Code</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="recoveryForm" method="post">
                    @Html.AntiForgeryToken()
                    <div class="form-floating">
                        <input type="text" class="form-control" id="recoveryCode" placeholder="Enter recovery code" required>
                        <label for="recoveryCode">Recovery Code</label>
                    </div>
                    <button class="btn btn-success mt-3" type="submit">Verify</button>
                </form>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="resetModal" tabindex="-1" aria-labelledby="resetModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="resetModalLabel">Reset your password</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="resetForm" asp-action="ResetPassword" method="post">
                    @Html.AntiForgeryToken()
                    <div class="form-floating">
                        <input type="password" class="form-control" id="reset" placeholder="Enter new password" name="newPassword" required>
                        <label for="reset">Reset</label>
                    </div>
                    <button class="btn btn-success mt-3" type="submit">Reset</button>
                </form>

            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {

            $.ajaxSetup({
                headers: {
                    'RequestVerificationToken': $('input[name="__RequestVerificationToken"]').val()
                }
            });

            $("#forgotForm").on("submit", function (e) {
                e.preventDefault();

                $("#btn1").attr("disabled", true);

                $.ajax({
                    url: '@Url.Action("ForgotPassword", "Login")',
                    method: 'POST',
                    data: {
                        email: $("#email").val()
                    },
                    success: function (response) {
                        if (response.success) {
                            
                        } else {
                            $("#validationSummary").text(response.message);
                        }
                    }
                });

                $("#verificationModal").modal('show');
            });

            $("#recoveryForm").on("submit", function (e) {
                e.preventDefault();
                $.ajax({
                    url: '@Url.Action("RecoveryCode", "Login")',
                    method: 'POST',
                    data: {
                        code: $("#recoveryCode").val(),
                        __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val()
                    },
                    success: function (response) {
                        if (response.success) {
                            $("#verificationModal").modal('hide');
                            $("#resetModal").modal('show');
                        } else {
                            alert("Invalid verification code.");
                        }
                    }
                });
            });
        });
    </script>
}