@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p class="display-5 my-5">Welcome</p>
    <p class="display-1 my-5">Share files</p>
    <p class="display-2">Anytime, to Anyone</p>
    <div class="mt-5">
        <a href="Upload/New" class="btn btn-success fs-1 rounded-pill" style="width:300px; height:80px;"><i class="fa-solid fa-upload"></i> Upload</a>
    </div>
</div>
